.Profile_Image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.Profile_Image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Background{
    background-color: aqua;
    padding: 50px;
}