.MyProfileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MyProfileImg {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
}

.favweb i {
  font-size: 30px;
}

.favweb a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.alertprimary{
  background-color: #cfdbf3;
}

.text-justify {
  text-align: justify!important;
}